<div class="full content">
  <form action="" class="ui form" class="left-form" id="login">
    <h3 class="ui header">
      Login
    </h3>
    <div class="inner">
    <div class="ui input">
      <label for="">Username</label>
      <input type="text" placeholder="John Doe">
    </div>
    <div class="ui input">
      <label for="">Password</label>
      <input type="password" placeholder="Enter Password Here...">
    </div>
    <div class="ui green button">Login</div>
      </div>

  </form>
</div>
