<div class="padded-sides about">
  <div class="row white padded-bottom" style="padding-top:12%">

    <div class="col-md-12">
      <div class="col-md-4 slighted-above centered">
        <span class="black-text" translate>about.first.share</span>
        <a style=href='#' class='symbol' title='circlefacebook'></a>
        <a href='#' class='symbol' title='circletwitterbird'></a>
        <a href='#' class='symbol' title='circlegoogleplus'></a>
      </div>
      <div class="col-md-offset-8 centered col-md-4 slighted-above">
        <span class='black-text' translate>about.first.featured</span>
        <img src="images/techcrunch.png" alt="">
        <img src="images/techmoran.png" alt="">
      </div>
      <div class="col-md-offset-4 col-md-4">
        <h3 style="color:black !important" class="centered" translate>about.first.title</h3>
        <p class="centered gray-text" translate>about.first.description</p>
      </div>

    </div>
    <div class="col-md-4">
      <div class="circled"><i class=""></i></div>
      <img src="images/physical.png" alt="" class="img-responsive" style="margin:auto">
      <h5 class="centered black-text" translate>about.second.col_1.title</h5>
      <p class='black-text' translate>about.second.col_1.description
      </p>
    </div>
    <div class="col-md-4">
      <div class="circled"><i class=""></i></div>
      <img src="images/service_delivery.png" alt="" class="img-responsive" style="margin:auto">
      <h5 class="centered black-text" translate>about.second.col_2.title</h5>
      <p class='black-text' translate>about.second.col_2.description</p>
    </div>
    <div class="col-md-4">
      <div class="circled"><i class=""></i></div>
      <img src="images/citizen_empowerment.png" alt="" class="img-responsive" style="margin:auto">
      <h5 class="centered black-text" translate>about.second.col_3.title</h5>
      <p class='black-text' translate>about.second.col_3.description</p>
    </div>
  </div>
</div>
