<div class="banner padded-sides">
    <div class="row description">
      <div class="col-md-4 padded-top"
      sn-skrollr
      data--100p-top="font-size:0.5em !important"
      >
        <h3 class="white-text">Welcome to Anwani</h3>
        <p class="white-text">The APP that allows you to create a real address in less than a minute...</p>
      </div>
      <div class="col-md-4 padded-top right"
      sn-skrollr
      data--100p-top="font-size:0.5em !important"
      >
        <h5 class="white-text" style="margin-bottom:0.2em">It's simple</h5>
        <p class="white-text">Create your address or view existing ones</p>
        <button class="btn btn-default btn-large btn-blue">Get Started!</button> <span class="white-text">OR</span>
        <img src="images/google.png" class="img-responsive play" alt="">
      </div>
      <div class="col-md-4 right">
        <img
        sn-skrollr
        data-start="width:80%"
        data--80-top="width:20%"
        class="phone img-responsive" src="images/phone_banner.jpg" alt="">
      </div>
    </div>

  </div>
