<div class="banner padded-sides">
    <div class="row description">
      <div class="col-md-4 padded-top">
        <h3 class="white-text">Welcome to Anwani</h3>
        <p class="white-text">The APP that allows you to create a real address in less than a minute...</p>
      </div>
      <div class="col-md-4" style="width:33%">
        <img style="width:300px;height:570;margin:auto;margin-top:100px;margin-bottom:-150px" src="images/phone_banner.jpg" class="img-responsive" alt="">
      </div>
      <div class="col-md-4 padded-top">
        <h4 class="white-text">It's simple</h4>
        <p class="white-text">Create your address or view existing ones</p>
      </div>
    </div>

  </div>
