<div class="row gray padded features">
  <div class="col-md-12">
    <h3 class="centered">Anwani Features in detail</h3>
    <h4 class="gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h4>
  </div>
  <div class="col-md-4 " style="padding-top:30px">
    <div class="col-md-12">
      <h4 class="col-md-10 col-xs-offset-2">Create Address</h4>
      <div class="col-xs-2"><i class="fa large fa-plus-square"></i></div>
      <div class="col-xs-10 gray-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque quis eos hic. Accusantium, asperiores, hic! Consectetur repellat quos est recusandae modi expedita obcaecati beatae enim. Error esse deleniti possimus obcaecati.</div>
    </div>
    <div class="col-md-12">
      <h4 class="col-md-10 col-xs-offset-2">View Existing Address</h4>
      <div class="col-xs-2"><i></i></div>
      <div class="col-xs-10 gray-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur voluptas rerum at quaerat placeat! Officia perspiciatis sint voluptates, minima eius sunt. A  dipisci nulla ut magnam illum et soluta optio autem.</div>
    </div>
    <div class="col-md-12">
      <h4 class="col-md-10 col-xs-offset-2">Manage Address</h4>
      <div class="col-xs-2"><i ></i></div>
      <div class="col-xs-10 gray-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, hic dignissimos eveniet amet quisquam ad dolorem   voluptates iste, dicta incidunt error dolore quas magnam rerum odit quis repellat cupiditate recusandae!</div>
    </div>
  </div>
  <div class="col-md-4 right" style="padding-top:30px">
    <div class="col-md-12">
      <h4 class="col-md-10 col-xs-offset-2">User & Share Address</h4>
      <div class="col-xs-2"><i class="fa large fa-reply-all"></i></div>
      <div class="col-xs-10 gray-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit deleniti odio ab sint labore asperiores, culpa maiores esse cumque, ducimus rerum et provident quasi. Sint soluta ut reprehenderit, aspernatur libero.</div>
    </div>
    <div class="col-md-12">
      <h4 class="col-md-10 col-xs-offset-2">Add Locational Photo</h4>
      <div class="col-xs-2"><i class="fa large fa-camera"></i></div>
      <div class="col-xs-10 gray-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, molestias saepe. Eum vero porro quia, facilis magnam eligendi ratione ipsa eveniet, accusantium aliquid laboriosam praesentium! Recusandae nisi necessitatibus alias voluptas.</div>
    </div>
    <div class="col-md-12">
      <h4 class="col-md-10 col-xs-offset-2">Address Receipt</h4>
      <div class="col-xs-2"><i class="fa large fa-map-marker"></i></div>
      <div class="col-xs-10 gray-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum beatae sint, odio dicta neque, natus labore magni, dolore, nulla incidunt ducimus. Perferendis provident minima, nam consectetur quae aspernatur beatae fugiat!</div>
    </div>
  </div>
  <div class="col-md-4 right">
<img src="images/phone_image.png" alt="" class="img-responsive" style="width:100%">
<p class="gray-text centered">* Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>

</div>
