<footer class="row white">
  <div class="col-md-4 centered">
    <span class="block gray-text">Connect with Anwani</span>
    <a href='#' class='symbol' title='circlefacebook'></a>
    <a href='#' class='symbol' title='circletwitterbird'></a>
    <a href='#' class='symbol' title='circlegoogleplus'></a>
  </div>
  <div class="col-md-4 centered right">
    <span class="gray-text">Get the Anwani App</span>
<img src="images/google.png" class="img-responsive play" alt="">
  </div>
  <div class="col-md-4 centered right"><span class="gray-text">Copyright &copy 2015 Anwani App</span> </div>

</footer>
