<div class="col-lg-12 bgimg error_page bg-primary">
    <section class="box nobox">
        <div class="content-body">    <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <h1 class="page_error_code text-light">443</h1>
                <h1 class="page_error_info text-light">You are not Authorized to access this page</h1>

                <div class="col-md-6 col-sm-6 col-xs-8 col-md-offset-3 col-sm-offset-3 col-xs-offset-2">
                    <button class="btn btn-danger" ui-sref="app.dashboard">Go back to Safety</button>
                </div>

            </div>
        </div>
        </div>
    </section></div>