<div class="login_page">
    <div class="login-wrapper">
        <div id="login" class="login loginpage col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
            <h1><a href="#" title="Login Page" tabindex="-1">
                <img src="../images/anwani_logo_white.png" alt="" class="img-responsive" style="width:50%;margin:auto">
            </a></h1>

            <form name="form" class="form-validation">

               <h2 style="color:white !important">Welcome <span ng-bind="newUser.name"></span></h2>
                <h4 style="color:white !important"><a class="btn btn-orange" ui-sref="login" title="Sign In">Sign In</a> to start using Anwani</h4>
            </form>


        </div>
    </div>
</div>