<div class="banner padded-sides">
    <div class="row description">
      <div class="col-md-4 padded-top"
      sn-skrollr
      data--100p-top="font-size:0.5em !important"
      >
        <h3 class="white-text" translate>banner.col_1.title</h3>
        <p class="white-text" translate>banner.col_1.description</p>
      </div>
      <div class="col-md-4 padded-top right"
      sn-skrollr
      data--100p-top="font-size:0.5em !important"
      >
        <h5 class="white-text hidden-xs hidden-sm" style="margin-bottom:0.2em" translate>banner.col_2.title</h5>
        <p class="white-text hidden-xs hidden-sm" translate>banner.col_2.description</p>
        <!--<button class="btn btn-default btn-large btn-blue hidden-xs hidden-sm" translate>banner.col_2.button</button> <span class="white-text hidden-xs hidden-sm" translate>banner.col_2.option</span>-->
        <a> <!--href="https://play.google.com/store/apps/details?id=com.coders4africa.app.anwani"-->
          <img alt="Get it on Google Play"
               src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
        </a>
      </div>
      <div class="col-md-4 right">
        <img
        sn-skrollr
        data-start="width:80%"
        data--80-top="width:20%"
        class="phone img-responsive" src="images/phone_banner.jpg" alt="">
      </div>
    </div>

  </div>
