<footer class="row white">
  <div class="col-md-4 centered">
    <span class="block gray-text" translate>footer.col_1.description</span>
    <a class="symbol" title='circlefacebook' href="https://www.facebook.com/Anwani-937650086328395/"></a>
    <a class="symbol" title='circletwitterbird' href="https://twitter.com/appanwani"></a>
  </div>
  <div class="col-md-4 centered right">
    <span class="gray-text" translate>footer.col_2.description</span>
    <a href="https://play.google.com/store/apps/details?id=com.coders4africa.app.anwani">
      <img alt="Get it on Google Play"
           src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
    </a>
  </div>
  <div class="col-md-4 centered right"><span class="gray-text" >Copyright &copy 2015 Anwani App</span> </div>
</footer>
