<div ui-view="header"></div>
<div class="row padded">
    <div class="col-md-12 white padded">
        <div class="inner">
            <table class="features-table table">
                <thead>
                <tr>
                    <th></th>
                    <th translate>pricing.header.first.one</th>
                    <th translate>pricing.header.first.two</th>
                    <th translate>pricing.header.first.three</th>
                </tr>
                <tr>
                    <th></th>
                    <th class="citizen" translate>pricing.header.second.one</th>
                    <th class="business" translate>pricing.header.second.two</th>
                    <th class="government" translate>pricing.header.second.three</th>
                </tr>
                <tr>
                    <th></th>
                    <th translate>pricing.header.third.one</th>
                    <th translate>pricing.header.third.two</th>
                    <th translate>pricing.header.third.three</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="feature in features">
                    <td style="text-align: left;width:25%">
                        <div ng-bind="feature.title"></div>
                        <div ng-bind="feature.subtitle" class="gray-text"></div>
                    </td>
                    <td valign="middle">
                        <i ng-if="feature.citizen" class="ion-checkmark citizen"></i>
                    </td>
                    <td>
                        <i ng-if="feature.business" class="ion-checkmark business"></i>
                    </td>
                    <td>
                        <i ng-if="feature.government" class="ion-checkmark government"></i>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <td></td>
                <td>
                    <button class="btn btn-dark citizen" translate>pricing.footer.one</button>
                </td>
                <td>
                    <button class="btn btn-dark business" translate>pricing.footer.two</button>
                </td>
                <td>
                    <button class="btn btn-dark government" translate>pricing.footer.three</button>
                </td>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div ui-view="sub-header"></div>
<div ui-view="footer"></div>