<div class="row">
  <nav id="sub" class="col-md-4 col-md-offset-4">
    <ul class="nav navbar-nav row" style="width:100%">
      <li class="col-xs-4" bs-scrollspy du-scrollspy du-smooth-scroll href="#home" data-target="#home"><a class="centered" translate>header.links.one</a></li>
      <li class="col-xs-4" bs-scrollspy du-scrollspy du-smooth-scroll href="#about" data-target="#about"><a class="centered" translate>header.links.two</a></li>
      <li class="col-xs-4" bs-scrollspy du-scrollspy du-smooth-scroll href="#features" data-target="#features"><a class="centered" translate>header.links.three</a></li>
    </ul>
  </nav>
</div>
