$typl8-scale: (
typl8-tera: 117,
typl8-giga: 90,
typl8-mega: 72,
typl8-alpha: 60,
typl8-beta: 48,
typl8-gamma: 26,
typl8-delta: 21,
typl8-epsilon: 18,
typl8-zeta: 14,
) !default;

@import "bootstrap";
@import "typeplate/styles";

$red:#e26a6a;
$black: #000;
$grey:#F2F1EF;
$sec-grey:#34495E;
$blue:#2C3E50;
$green:#68C3A3;

$cm:#3498DB;
$survey:#e26a6a;

$dark_gray:#29383a;
$light_grey:#949494;
$pumice:#D2D7D3;
$iron:#DADFE1;


body{
  overflow-x: hidden;
  font-family:Lato;
  background:$grey;
  @extend .typl8-zeta;
}

.content{
  padding-top:5rem;
  position: relative;
}
.full.content{
  height:100%;
  padding:10%;
  background-size: cover;
  background-image: url('../images/sky-clouds-blue.jpg');
}


nav{
  @extend .navbar;
  @extend .navbar-default;
  /* font-size:0.7em; */
  border-radius: 0;
  .navbar-right{
    margin-right: 0 !important;
  }
  li{
    list-style: none;
    a{
      color:black !important;
      text-transform: capitalize;
      text-decoration: none;
    }
    a:hover{
      text-decoration: none;
      color:#afe0eb;
    }
  }
  li:hover,li.active{
    a{
      color:#afe0eb;
    }
  }

}
nav#main{
  padding-left:10%;
  padding-right:10%;
  background:white !important;
}
nav#sub{
  background:$grey !important;
  border:none;
}
div.gray,div.white{
  background:$dark_gray;
  color:white;
  h1,h2,h3,h4,h5,h6{
    text-align: center;
    color:white !important;
    margin-bottom:0.5em;
    margin-top:1em;
  }
  h1.gray,h2.gray,h3.gray,h4.gray,h5.gray,h6.gray{
    text-align: center;
    font-weight: bold;
    color:$light_grey !important;
  }
  i{
    color:$light_grey !important;
    @extend .typl8-beta;
  }
}
.padded{
  padding:5% 10%;
}
.padded-sides{
  padding:0 10%;
}
.centered{
  text-align: center;
}
.gray-text{
  color:$light_grey !important;
}
.seperator{
  // height:5px;
  border-bottom:1px solid #f5f5f5;
}
div.white{
  background: white !important;
  border:1px solid #dadada;
  h1,h2,h3,h4,h5,h6{
    color:#b0b0b0 !important;
  }
}
.images{
  img{
    vertical-align: middle !important;
    padding:10px;
  }
}
footer{
  background: white !important;
  padding:2.5% 10%;
}
a.rounded{
  padding:10px;
  margin-left:10px;
  border-radius:50%;
  background:#b0b0b0;
  i{
    color:white !important;
  }
}
