<!-- list -->
<ul class="wraplist wrapper-menu">

    <li ui-sref-active="active">
        <a ui-sref="app.dashboard" class="nosub">
            <i class="material-icons">dashboard</i>
            <span class="title">Dashboard</span>
        </a>
    </li>
    <li ng-if="_admin">
        <a href="javascript:">
            <i class="material-icons">account_balance</i>
            <span class="title">Subscribers</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.subscriber.new">Add Subscriber</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.subscriber.view">View Subscribers</a>
            </li>

        </ul>
    </li>
    <li ng-if="_admin || _subscriber">
        <a href="javascript:">
            <i class="material-icons">person</i>
            <span class="title">Users</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ng-if="_admin" ui-sref-active="active">
                <a ui-sref="app.users.new">Add User</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.users.view">View Users</a>
            </li>

        </ul>
    </li>
    <li ng-if="_admin">
        <a href="javascript:">
            <i class="material-icons">place</i>
            <span class="title">Addresses</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ng-if="_admin" ui-sref-active="active">
                <a ui-sref="app.address.new">Add Address</a>
            </li>
            <li  ui-sref-active="active">
                <a ui-sref="app.address.view">View Your Addresses</a>
            </li>

        </ul>
    </li>
</ul>
<!-- / list -->
