<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <section class="box">
        <header class="panel_header">
            <h2 class="title pull-left">Search for an Address</h2>
            <div class="actions panel_actions pull-right">
                <i class="box_toggle material-icons">expand_more</i>
                <i class="box_close material-icons">close</i>
            </div>
        </header>
        <div class="content-body padding-top-45">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <form class="black form-inline" style="padding-top:0">
                        <div class="form-group col-md-3">
                            <select class="form-control dropdown" name="" id="" ng-model="search_data.category" style="width:100%">
                                <option value="">Choose Criteria</option>
                                <option value="phone_number">Phone Number</option>
                                <option value="first_name">First Name</option>
                                <option value="last_name">Last Name</option>
                                <option value="other_name">Other Name</option>
                                <option value="virtual_code">Virtual Code</option>
                                <option value="latitude">Latitude</option>
                                <option value="longitude">Longitude</option>
                                <option value="street_address">Street Address</option>
                                <option value="city">City</option>
                                <option value="country">Country</option>
                            </select>
                        </div>
                        <div class="form-group col-md-7">
                            <input ng-model="search_data.string" type="text" class="form-control" placeholder="Search..." style="width:100%">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-info" ng-click="search()">
                                <div style="vertical-align: middle" class="material-icons">search</div>  Search
                            </button>
                        </div>
                    </form>
                    <div ng-if="results">
                            <table ng-if="results.length>0 && (_admin || _subscriber)" class="table table-striped" st-table="displayedCollection" st-safe-src="results">
                                <thead>
                                <tr style="background:transparent">
                                    <th colspan="5">
                                        <span class="digit" ng-bind="results.length"></span>  Records
                                    </th>
                                    <th colspan="2" class="search">
                                        <input placeholder="Search for Address..." st-search="" type="search" class="form-control">
                                    </th>
                                </tr>
                                <tr>
                                    <th ng-if="_admin || _subscriber" st-sort="masked_code">Masked Code</th>
                                    <th ng-if="_admin" st-sort="latitude">Latitude</th>
                                    <th ng-if="_admin" st-sort="longitude">Longitude</th>
                                    <th st-sort="city">City</th>
                                    <th st-sort="country">Country</th>
                                    <th st-sort="date_created">Created</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="address in displayedCollection">
                                    <td ng-if="_admin|| _subscriber" ng-bind="address.masked_code"></td>
                                    <td ng-if="_admin" ng-bind="address.latitude"></td>
                                    <td ng-if="_admin" ng-bind="address.longitude"></td>
                                    <td ng-bind="address.city"></td>
                                    <td ng-bind="address.country"></td>
                                    <td am-time-ago="address.date_created"></td>
                                    <td>
                                        <button class="btn btn-xs btn-danger" ng-click="edit()"><i class="typcn typcn-edit"></i>Edit</button>
                                        <button class="btn btn-xs btn-primary" ng-click="view(address)"><i class="typcn typcn-eye"></i>View</button>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th ng-if="_admin" st-sort="long_virtual_code">Long Virtual Code</th>
                                    <th ng-if="_admin" st-sort="latitude">Latitude</th>
                                    <th ng-if="_admin" st-sort="longitude">Longitude</th>
                                    <th st-sort="city">City</th>
                                    <th st-sort="country">Country</th>
                                    <th st-sort="date_created">Created</th>
                                    <th>Actions</th>
                                </tr>
                                <tr>
                                    <td colspan="7" class="text-center navs">
                                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                    </td>
                                </tr>
                                </tfoot>
                        </table>
                        <p ng-if="results.length==0">
                            No Results Found
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>