<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <section class="box">
        <header class="panel_header">
            <h2 class="title pull-left">Search for an Address</h2>
            <div class="actions panel_actions pull-right">
                <i class="box_toggle material-icons">expand_more</i>
                <i class="box_close material-icons">close</i>
            </div>
        </header>
        <div class="content-body padding-top-45">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <form action="" class="black form-inline" style="padding-top:0">
                        <div class="form-group col-md-3">
                            <select class="form-control dropdown" name="" id="" ng-model="search.criteria" style="width:100%">
                                <option value="">Choose Criteria</option>
                                <option value="phone_number">Phone Number</option>
                                <option value="first_name">First Name</option>
                                <option value="last_name">Last Name</option>
                                <option value="other_name">Other Name</option>
                                <option value="virtual_code">Virtual Code</option>
                                <option value="latitude">Latitude</option>
                                <option value="longitude">Longitude</option>
                                <option value="street_address">Street Address</option>
                                <option value="city">City</option>
                                <option value="country">Country</option>
                            </select>
                        </div>
                        <div class="form-group col-md-7">
                            <input ng-model="search.string" type="text" class="form-control" placeholder="Search..." style="width:100%">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-info" ng-click="search()">
                                <div style="vertical-align: middle" class="material-icons">search</div>  Search
                            </button>
                        </div>
                    </form>
                    <div ng-if="results">
                        <table ng-if="results.length>0">

                        </table>
                        <p ng-if="results.length==0">
                            No Results Found
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>